<div class="topar">
    <div class="row">
        <div class="overlay">

            <div class="row">
                <div class="container">
                    <ul style="padding: 20px 0">
                        <li class="logo">
                            <h2><a href="/">Sharaqi.</a></h2>
                        </li>
                        <li class="chooses"><a href="/">Home</a></li>
                        <li class="chooses"><a href="/#portfolio" class='portfolio'>Portfolio</a></li>
                        <li class="chooses"><a href="/">Resume</a></li>
                        <li class="chooses"><a href="/#feedback" class='feedback'>Feedback</a></li>
                        <li class="chooses"><a href="/">Connect</a></li>
                    </ul>
                </div>
            </div>

            <div class="row" style="position: relative">
                <div class="container">
                    <div class="social">
                        <ul class="socialUL">
                            <li style="margin-top: 0px">
                                <a href="https://www.linkedin.com/in/sirmuhammadaeb" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://behance.net/sirmuhammadaeb" target="_blank"><i class="fab fa-behance"></i></a>

                            </li>
                            <li>
                                <a href="https://join.skype.com/invite/hXdTi9Z8X5JO" target="_blank"><i class="fab fa-skype"></i></a>
                            </li>
                            <li>
                                <a href="mailto:muhammadsharaqi@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                            </li>
                            <li>
                                <a href="tel:+201030692427"><i class="fas fa-phone"></i></a>

                            </li>
                        </ul>

                    </div>

                    <div class="sharaqi-img">
                        <div class="overlay-img"></div>
                    </div>

                    <div class="sharaqi-word">
                        <h2 class="sharaqi">Sharaqi.</h2>
                        <p>Think out of the box.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="rot"></div>

<div class="row">
    <img src="/images/undraw_hacker_mindset_gjwq.svg" alt="About Me!">
</div>
<div class="row">
    <h5>Who is Sharaqi ?</h5>
    <p class="txt">I am in brief, Muhammad Abd Elhamid Sharaqi.<br>I have a bachelor of computers and informations in
        2020, as computer science department.</p>
</div>

<div class="row">
    <div class="whattheysay">
        {{!-- <div class="row" id="portfolio">
            <h5>What they say about our projects ?</h5>
        </div> --}}

        <div class="row">
            <div class="slider">
                <div class="slide-track">
                    <div class="slide">
                        <div class="card">
                            <h5>Muhammed Fouda</h5>
                            <p class="txt-6">It's a good start my friend ❤. I believe that you become a good web
                                developer 🔥 My greetings ❤</p>
                            <small class="" style="opacity:0.5">- on: <i class="far fa-envelope"></i></small>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="card">
                            <h5>hadeer mohamed</h5>
                            <p class="txt-6">Nice work, well done.</p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 left">
                                    <small class="">on: <i class="fab fa-behance"></i></small>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right">
                                    <small class="small-right"><a href="https://www.behance.net/gallery/71099609/The-Doctor-Website-%28UI-Design%29"
                                            target="_blank">see this project <i class="fas fa-arrow-right"></i></a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="card">
                            <h5>Lime agency</h5>
                            <p class="txt-6">Well done good work!!!</p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 left">
                                    <small class="">on: <i class="fab fa-behance"></i></small>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right">
                                    <small class="small-right"><a href="https://www.behance.net/gallery/71099609/The-Doctor-Website-%28UI-Design%29"
                                            target="_blank">see this project <i class="fas fa-arrow-right"></i></a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="card">
                            <h5>sama akter</h5>
                            <p class="txt-6">nice</p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 left">
                                    <small class="">on: <i class="fab fa-behance"></i></small>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right">
                                    <small class="small-right"><a href="https://www.behance.net/gallery/71099609/The-Doctor-Website-%28UI-Design%29"
                                            target="_blank">see this project <i class="fas fa-arrow-right"></i></a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="card">
                            <h5>muhammad ali</h5>
                            <p class="txt-6">great work</p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 left">
                                    <small class="">on: <i class="fab fa-behance"></i></small>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right">
                                    <small class="small-right"><a href="https://www.behance.net/gallery/71099609/The-Doctor-Website-%28UI-Design%29"
                                            target="_blank">see this project <i class="fas fa-arrow-right"></i></a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="card">
                            <h5>abdelaziz daoud</h5>
                            <p class="txt-6">Beautiful project, man</p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 left">
                                    <small class="">on: <i class="fab fa-behance"></i></small>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right">
                                    <small class="small-right"><a href="https://www.behance.net/gallery/71099609/The-Doctor-Website-%28UI-Design%29"
                                            target="_blank">see this project <i class="fas fa-arrow-right"></i></a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="card">
                            <h5>arivoli d selvam</h5>
                            <p class="txt-6">Hey,@Muhammad Abd Elhamied Nice project.!</p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 left">
                                    <small class="">on: <i class="fab fa-behance"></i></small>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right">
                                    <small class="small-right"><a href="https://www.behance.net/gallery/71099609/The-Doctor-Website-%28UI-Design%29"
                                            target="_blank">see this project <i class="fas fa-arrow-right"></i></a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="card">
                            <h5>Name</h5>
                            <p class="txt-6">Logo designing and Illustration works also good for me it helps me in my
                                work also
                                cover my hobbies!</p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 left">
                                    <small class="">on: <i class="fab fa-behance"></i></small>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right">
                                    <small class="small-right"><a href="https://www.behance.net/gallery/71099609/The-Doctor-Website-%28UI-Design%29"
                                            target="_blank">see this project <i class="fas fa-arrow-right"></i></a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="card">
                            <h5>Name</h5>
                            <p class="txt-6">Logo designing and Illustration works also good for me it helps me in my
                                work also
                                cover my hobbies!</p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 left">
                                    <small class="">on: <i class="fab fa-behance"></i></small>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right">
                                    <small class="small-right"><a href="https://www.behance.net/gallery/71099609/The-Doctor-Website-%28UI-Design%29"
                                            target="_blank">see this project <i class="fas fa-arrow-right"></i></a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="card">
                            <h5>Name</h5>
                            <p class="txt-6">Logo designing and Illustration works also good for me it helps me in my
                                work also
                                cover my hobbies!</p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 left">
                                    <small class="">on: <i class="fab fa-behance"></i></small>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right">
                                    <small class="small-right"><a href="https://www.behance.net/gallery/71099609/The-Doctor-Website-%28UI-Design%29"
                                            target="_blank">see this project <i class="fas fa-arrow-right"></i></a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="card">
                            <h5>Name</h5>
                            <p class="txt-6">Logo designing and Illustration works also good for me it helps me in my
                                work also
                                cover my hobbies!</p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 left">
                                    <small class="small-right">on: <i class="fab fa-behance"></i></small>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right">
                                    <small class="small-right"><a href="https://www.behance.net/gallery/71099609/The-Doctor-Website-%28UI-Design%29"
                                            target="_blank">see this project <i class="fas fa-arrow-right"></i></a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="card">
                            <h5>Name</h5>
                            <p class="txt-6">Logo designing and Illustration works also good for me it helps me in my
                                work also
                                cover my hobbies!</p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 left">
                                    <small class="">on: <i class="fab fa-behance"></i></small>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right">
                                    <small class="small-right"><a href="https://www.behance.net/gallery/71099609/The-Doctor-Website-%28UI-Design%29"
                                            target="_blank">see this project <i class="fas fa-arrow-right"></i></a></small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="rot txt-rotat"></div>

<div class="row">
    <div class="overlay overlay-cust">
        <div class="container">
            <div class="row">
                <h5>Why Sharaqi ?</h5>
                <p class="txt">I know that I am not the best one in the hole world, but I really<br>
                    enjoy and love what I do so, I believe that I will do my best in it.
                    <br>Here what I do!</p>
            </div>

            <div class="row" style="margin-top: 70px">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h6><i class="fas fa-pen-fancy"></i> UI &amp; UX Designing</h6>
                    <p class="txt-6">I begun with UI &amp; UX designing, I have a lot of designs in this field such as
                        Mobile apps, and websites.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top: 40px">
                    <h6><i class="fas fa-code"></i> Front-end development</h6>
                    <p class="txt-6">Front-End development, is a good way for
                        me to doing designs and development, I
                        really love that track!
                    </p>
                </div>
            </div>
            <div class="row" style="">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h6><i class="fab fa-node-js"></i> Back-end development</h6>
                    <p class="txt-6">I love when I level my skills up, Being a MERN-Stack developer is great to cover
                        my passion in this field.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top: 40px">
                    <h6><i class="fas fa-pencil-ruler"></i> Graphics &amp; Logo Designing</h6>
                    <p class="txt-6">Logo designing and Illustration works also good for me it helps me in my work also
                        cover my hobbies!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rot txt-rotat txt-rotat-2"></div>

<div class="row">
    <img src="/images/undraw_feeling_proud_qne1.svg" class="portfolio-intro" alt="Sharaqi's Portfolio!">
</div>
<div class="row" id="portfolio">
    <h5>Portfolio</h5>
</div>

<div class="row portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="port-img-a"></div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="port-img-a"></div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="port-img-a"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="port-img-a"></div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="port-img-a"></div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="port-img-a"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="port-img-a"></div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="port-img-a"></div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="port-img-a"></div>
            </div>
        </div>

        <div class="row">
            <a href="#" class="btn btn-sm animated-button thar-three">See More!</a>
        </div>

    </div>
</div>


<div class="container">
    <div class="row">
        <h5 class="thanks" style="margin-bottom: 20px">Thanks for scrolling <i class="fas fa-heart animated infinite pulse faster"
                style="color: red; opacity: 1; font-size: 16px"></i></h5>
        <p class="thanks" style="margin-top: 0">We hope that this site touched what you are looking for about "Sharaqi"<br>
            Please give us a <a href="/#feedback"  class='feedbackII'>feedback</a> for future enhancements. or <a href="/contact-us">contact
                us</a> now</p>

    </div>
</div>
